{% extends "layout.html" %}
{% block content %}
    <div class="jumbo">

	    <h2>Estatísticas...</h2>
	    <p>Alguns dados estatísticos gerados pela biblioteca Pandas Profiling.<p>
	    <ul>
		    <li><a href="quina" target="_blank">Quina</a></li>
		    <li><a href="mega-sena" target="_blank">Mega-Sena</a></li>
        </ul>

        <p>Arquivos csv e ipynb (Notebooks) estão na pasta dados.</p>
    </div>
{% endblock %}
