<!DOCTYPE html>
<html lang="pt-br">

<html>
	<head>
		<title>Estudo de API</title>
        <meta charset="utf-8"/>
        <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/geral.css') }}">;</strong>
    </head>

<body>
	<header>
		<div class="container">
			<h1 class="logo">Estudo de API</h1>
			<strong><nav>
                    <ul class="menu">
						<li><a href="{{ url_for('home') }}">Início</a></li>
                    	<li><a href="{{ url_for('estatisticas') }}">Estatísticas...</a></li>
                        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
					</ul>
            </nav></strong>
		</div>
	</header>

	<div class="container">
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>
